@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    /* background-color: #f5f6f8; */
    background: linear-gradient(180deg, #F2ECF9 0%, #F4F0E9 100%);;
    
    overflow: hidden;
    box-sizing: border-box;
}
#root {
    overflow: auto;
}
