.menu-bar-container{
    /* position: fixed; */
    min-width: 300px;
    max-width: 350px;
    height: 100%;
    animation: slide-in 0.1s
}



.menu-bar-container > .menu-bar{
    padding-top: 25px;
    @apply flex-col;

}
.menu-bar .menu-item{
    @apply flex flex-row space-x-10 font-semibold leading-5 w-full;
    
    padding: 20px 0 20px 2% ;
    transition: 0.3s ease-in;
    border-left: solid rgba(255, 255, 255, 0) 5px;
    
}
.menu-item:hover{
    @apply bg-white;
    border-left: #B10494 solid 5px;
    color: #B10494;
    
}
.logo{
    margin-left: 40px;
}