@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.menu-bar-container{
    @apply bg-gray-200;
    font-family: Ubuntu;
    position: fixed;
    min-width: 400px;
    max-width: 600px;
    height: 100%;
    box-shadow: 4px 0px 12px -5px ;
    animation: slide-in 0.5s
}



.menu-bar-container > .menu-bar{
    @apply flex-col;

}

.profile-info{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-basis: 15%;

    @apply mt-3 mb-3 ml-5 mr-5;
}


.profile-info > img {
    flex-basis: 10%;
    @apply rounded-full;
    max-width: 90px;
    max-height: 90px;
}
.profile-info > p {
    text-align: center;
    flex-basis: 90%;
    font-size: 1.5rem;
    margin-left: 3%;
}

.menu-bar .menu-item{
    padding-left: 10px;
    /* border: solid black 2px; */
    margin: 20px 5%;
    transition: 0.3s ease-in;
}
.menu-item:hover{
    transform: scale(1.01);
    color: #7b7b7b;
}



@keyframes slide-in{
    100%{
        left:0%;

    }

    0%{
        display:none;
        left:-100%;
    }
}